.inputs-container{
    display: inline-flex;
    width: 100vw;
    height: 10vh;
    align-items: center;
    justify-content: center;
}

.inputs-container .input {
    margin:0rem 1rem;
} 

.update-wrapper .display-area{
    height: 40vh;
    width: 50vw;
}

.update-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.update-wrapper .buttons-container{
    height: 12vh;
}